.space {
    height: 90px;
}

.row {
    justify-content: center;
}

.subtitle{
    font-size: medium;
    font-weight: bold;
}

.about {
    display: flex;
    justify-content: center;
    /* padding-left: 10vw;
    padding-right: 10vw; */

}

.filterTools {
    height: 100%;
    width: 100%;
    box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.199);
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 8px;
}

.about-row{
    justify-content: center;
}

.cardpic-logo{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem
}


.cb{
    /* flex:none; */
    display: inline-flex;
    padding: 1.5rem;
}


.player-card{
     box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
     width: 100%;
     height: 95%;
     display: inline-flex;
     justify-content: center;
     align-items: center;
     border-radius: 8px;
}

.color {
    color: black;
}

/* instanceCard */
.instanceCon {
    height: 70vh;
    width: 100vw;
}

.space{
    height: 90px;
}

.centerCenter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.teamLogoImage {
    max-width: 8vw;
    max-height: 8vw;
}

.flagImage {
    width: 20vw;
    height: 10vw;
    max-width: 250px;
    max-height: 125px;

}

.flagCardImage {
    width: 20vw;
    height: 20vw;
    max-width: 250px;
    max-height: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left.row {
    display: flex;
    justify-content: left;
}

.playerStatsCard.col{
    min-width: 25vw;
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 2vw;
    padding-left: 5vw;
    padding-right: 5vw;
    flex-grow: 0;
}

.teamAndLeagueCards{
    width: 50vw;
    max-width: 500px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.teamCardLink {
    width: 70vw;
    /* height: 15vw; */
    /* max-width: 500; */
    /* max-height: 175px; */
    background-color: white;
    display: inline-flex;
    align-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 2vw;
    flex-direction: row;
}

.leagueCardLink {
    width: 30vw;
    /* height: 15vw; */
    max-width: 350px;
    /* max-height: 175px; */
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 2vw;
}

.linktext:hover {
    color: black;
}

.linktext {
    color: navy;
}
