@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.toolbar {
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 0px 1px 50px rgba(0, 0, 0, 0.1)
}


.navbar-light .navbar-nav .nav-link.active {
    color: tomato;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: #777777;
}

/* ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

li{
    padding: 0 1rem;
} */

.navbar-light .navbar-brand {
    margin-left: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: x-large;
    font-family: "Rubik";
}



.navbar-light .navbar-nav .nav-link{
    /* color: rgba(255, 255, 255, 0.788); */
    color: rgb(27, 27, 27);
    font-size: 18px;
    /* font-family: "Open Sans", sans-serif; */
    text-decoration: none;
}
