.space{
    height: 90px;
}

.row{
    justify-content: center;
}

.about {
    display: flex;
    justify-content: center;
}

.about-row{
    justify-content: center;
}

.league-logo{
    width: 60%;
    height:80%;
    position: absolute;
}

.image-card {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem;
}


.cb{
    flex:none;
    display: inline-block;
    padding: 1.5rem;
}

.league-card{
    /* border: 1px solid rgba(0, 0, 0, 0.125); */
    box-shadow:  5px 5px 15px rgba(0, 0, 0, 0.2);
    /* width: 18rem; */
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.subtitle{
    font-size: medium;
    font-weight: bold;
}

ul.pagination {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
ul.pagination li.page-item.active a.page-link {
    color:white ;
    background-color: tomato ;
    border-color: #dad3ce ;
}
ul.pagination a.page-link {
    padding: 0.75rem 1rem;
    min-width: 3.5rem;
    text-align: center;
    box-shadow: none ;
    border-color: #ced4da ;
    color: #485584;
    font-weight: bold ;
    font-size: 1rem;
}
ul.pagination a.page-link:hover {
    color: black;
    background-color: #f4f4f4;
}

/* instanceCard */
.instanceCon {
    height: 100vh;
    width: 100vw;
}

.space{
    height: 90px;
}

.centerCenterLeague {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageCardLink {
    width: 15vw;
    height: 15vw;
    max-width: 350px;
    max-height: 175px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.leagueImage {
    max-width: 10vw;
    max-height: 10vw;
}

.flagImage {
    max-width: 10vw;
    max-height: 10vw;
}

.instanceCardImage{
    width: 35vw;
    height: 35vw;
    max-width: 400px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.leagueStatsCard{
    /* min-width: 30vw; */
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    flex-grow: 0;
}

.teamsCardLink {
    width: 30vw;
    max-width: 350px;
    background-color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 2vw;
}


.left.row {
    display: flex;
    justify-content: left;
}


.teamRowContainer{
    display: flex;
    flex-wrap: nowrap;
}